<div class="container my-5 w-75">
    <div class="image-container d-flex justify-content-center my-5">
        <img src="../../../../assets/img/policies.svg" width="600rem" alt="">
    </div>
    <h1>Nossos termos e condições de uso</h1>
    <h2>
        O que estes termos cobrem
    </h2>
    <h3>
        Sabemos que é tentador pular estes Termos de Serviço, mas é importante estabelecer o que você pode esperar de
        nós ao usar os serviços do Diário de Bordo e o que esperamos de você.
    </h3>
    <p>
        Estes Termos de Serviço refletem a maneira como os negócios do Diário de Bordo funcionam, as leis que se aplicam à nossa
        empresa e determinados pontos em que sempre acreditamos. Como resultado, estes termos ajudam a definir a relação
        do Diário de Bordo com você na medida da sua interação com os nossos serviços. Por exemplo, estes termos incluem as
        seguintes seções:
    </p>
    <ul>
        <li>
            O que você pode esperar de nós, que descreve o modo como fornecemos e desenvolvemos nossos serviços.</li>
        <li>
            O que esperamos de você, que estabelece certas regras para usar nossos serviços.
        </li>
        <li>Conteúdo nos serviços do Diário de Bordo, que descreve os direitos de propriedade intelectual com relação ao conteúdo
            que
            você encontra nos nossos serviços, seja ele pertencente a você, ao Diário de Bordo ou a outras pessoas.
        </li>
        <li>
            Em caso de problemas ou discordâncias, que descreve outros direitos legais que você tem e o que esperar caso
            estes termos sejam violados.
        </li>
    </ul>
    <p>
        Compreender estes termos é importante porque, para usar nossos serviços, você precisa aceitá-los.
    </p>
    <p>
        Além destes termos, também publicamos uma Política de Privacidade. Embora ela não faça parte destes termos,
        recomendamos que você a leia para entender melhor como pode atualizar, gerenciar e excluir suas informações.
    </p>

    <h2>Termos</h2>
    <h3>
        Provedora de serviços
    </h3>
    Os serviços do Diário de Bordo que você pode contratar são fornecidos por:
    <p>
        Diário de Bordo LLC
        organizada de acordo com as leis do Estado, operando de acordo com as leis do Brasil
    </p>
    <p>
        Restrições de idade
        Se você está abaixo da idade exigida para gerenciar sua própria Conta do Diário de Bordo, é necessário ter a permissão do
        seu pai/mãe ou responsável legal para usar uma conta. Peça para seu pai/mãe ou responsável legal ler estes
        termos com você.
    </p>
    <p>
        Se você é um responsável legal ou pai/mãe e permite que uma criança use os serviços, estes termos se aplicam a
        você e você é responsável pelas atividades dessa criança nos serviços.
    </p>
    <p>
        Alguns serviços do Diário de Bordo têm restrições de idade complementares, de acordo com o descrito nos termos adicionais
        específicos do serviço e nas políticas deles.
    </p>
</div>
