
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    width: 20%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    border-radius: 20px;
}

button {
    width: 100%;
}

.btnLoginBG {
    background-color: #623EBA;

}

.viewPassword  {
    cursor: pointer;
    margin-left: 160px;
    color: #b257d9;
}


