.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    font-size: large;
   
    margin-top: 30px;
  }
  
  .galery{
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: bolder;
   }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: aqua;
}

.fab-wrapper {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 999;
}

.example-header-image {
    background-image: url('https://jsl-online.com/wp-content/uploads/2017/01/placeholder-user.png');
    background-size: cover;
}


.diario-card {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    align-items: center; 
  
  }
  
  .div-perfil mat-card-title {
    margin: auto;
    margin-left: 10px;
  }
  
  .imgfoto{
    max-width: 90%;
    width: 395px;
    height: 395px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-size: cover;
  }
  
  .card{
    margin-right: 15px;
    margin-right: 15px;
    
  }
  .delete, .edit{
    margin-bottom: 0;
    margin-top: 0;
  align-items: right;
  
  }