*{
 
  margin: 0;
  padding: 0;
  color: #09184F;
  font-family: Roboto;

}
.mb-0{
  color: white;
}
h6{
  color: white ;
}
ul{
text-decoration: none;
color: white;
}
footer {
 
  width: 100%;
  justify-content: flex-end;
  
  }


.text-white{
  background-color:rgb(69, 138, 241)


}


















