<div class="todo">
  <footer class="text-white">
    <div class="container py-3">
      <div style="display: flex; justify-content: space-between" class="row">
        <div class="col-md-2">
          <div class="logo">
            <a mat-button routerLink="/home" class="link">
              <img src="assets/img/lgo-removebg-preview.png" style="width: 160px; margin: -30px;">
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <h6><strong>MINHA CONTA</strong></h6>
          <ul class="list-unstyled">
            <li><a [routerLink]="'/login'"> Entrar</a></li>
            <li><a [routerLink]="'/termos-de-privacidade'">Termos de Privacidadade</a></li>
            <li><a [routerLink]="'#'">Política de Uso</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6><strong>CONTATO</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li>
              Rua Cabral, 1578 – Bela Vista/SP <br>

            </li>
            <li><i class="bi bi-envelope"></i> contato@itravel.com.br</li>
            <li><i class="bi bi-whatsapp"></i>(11) 91919-9191</li>
          </ul>
        </div>

        <div class="col-md-2">
          <h6><strong>MAIS</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li><a href="">Sobre</a></li>
            <li><a href="">Localização</a></li>
            <li><a href="">Carreira</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6><strong>NOTÍCIAS</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li><a href="">Blog</a></li>
            <li><a href="">Notícias sobre viagens</a></li>
            <li><a href="">Próximo destino</a></li>
          </ul>
        </div>

      </div>


    </div>
    <div class="text-center py-3" style="background-color: #0A184F">
      <p class="mb-0">iTravel © 2022. Alguns direitos reservados</p>
    </div>
  </footer>
</div>