.foto {
    width: 100%;
    margin: 25px 25px 25px 25px;
}

.banner-image {
    background-image: url("/assets/img/pexels-pixabay-62623.jpg");
    background-size: cover;
}

.color-text {
    color: #B3700E;
}